
.main-title-container {
    display: flex;
    flex-direction: column;
    gap: 41px;
}

.main-title {
     font-family: Roboto;
     font-weight: 500;
     font-size: 48px;
     line-height: 24px;

     &-greetings {
        font-family: Roboto;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
     }

     span {
        color: #E60000;
     }
}

.graphics-container {
    padding-top: 77px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;

    .graphics-left-side {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .daily-graphics {
            width: 100%;
            height: 320px;
            border-radius: 5px;
        }

        .widgets-container {
            width: 100%;
            display: flex;
            gap: 29px;
        }
    }


    .graphics-right-side {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 39px;
        height: 100%;
    }
}

@media screen and (max-width: 1335px) {
    
    .graphics-container {
           .graphics-right-side {
        flex-direction: row;
        justify-content: center;
    }
    }
    
 
}