.layout {
    display: flex;
    flex-direction: column;


    .main-container {
        display: flex;

        .main {
            padding: 20px;
            margin: 68px 90px 86px 107px;
        }
    }

}

